<div class="container mt-5 mb-5">
  <form id="form" class="form-panel" action="/restaurants" method="POST" novalidate>
    <h4 class="fw-semibold mb-3">新增一筆餐廳資訊</h4>
    <div class="row g-3">
      <div class="col-md-6">
        <div class="input-group">
          <label class="me-2" for="name"><span class="text-danger">*</span> 中文名稱 :</label>
          <input type="text" class="form-control me-2" name="name" id="name" maxlength="20" placeholder="請輸入中文名稱 ..." value="{{ options.name }}" required>
          <div class="invalid-feedback text-end me-2">必填，字數需在20字以內</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <label class="me-2" for="name_en"><span class="text-danger">*</span> 英文名稱 :</label>
          <input type="text" class="form-control" name="name_en" id="name_en" maxlength="30" placeholder="請輸入英文名稱 ..." value="{{ options.name_en }}" required>
          <div class="invalid-feedback text-end">必填，字數需在30字以內</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <label class="me-2" for="category"><span class="text-danger">*</span> 分類 :</label>
          <input list="categories" class="form-control form-border-radius me-2" name="category" id="category" value="{{ options.category }}" required>
          <datalist id="categories">
            <option value="所有分類">所有分類</option>
            <option value="日本料理">日本料理</option>
            <option value="義式餐廳">義式餐廳</option>
            <option value="美式">美式</option>
            <option value="咖啡">咖啡</option>
            <option value="中東料理">中東料理</option>
            <option value="酒吧">酒吧</option>
          </datalist>
          <div class="invalid-feedback text-end me-2">請選擇分類或自創分類</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <label class="me-2" for="phone"><span class="text-danger">*</span> 電話 :</label>
          <input id="phone" type="text" class="form-control me-2" name="phone" placeholder="ex : 02 333 2888"  value="{{ options.phone }}" pattern="[0-9 \-()]*" required>
          <div class="invalid-feedback text-end">僅接受 : 數字、小括號、空格、-</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <label class="me-2" for="rating">評分 : <output name="amount" id="amount" for="rating">3</output></label>
          <input id="rating" name="rating" type="range" class="form-range" min="0" max="5" step="0.1" value="3" oninput="amount.value=rating.value">
          
        </div>
      </div>
      <div class="input-group">
        <label class="me-2" for="location"><span class="text-danger">*</span> 地址 :</label>
        <input id="location" type="text" class="form-control" name="location" maxlength="30" value="{{ options.location }}" required>
        <div class="invalid-feedback text-end">必填，字數需在30字以內</div>
      </div>
      <div class="input-group">
        <label class="me-2" for="google_map">google map :</label>
        <input id="google_map" type="text" class="form-control" name="google_map" value="{{ options.google_map }}" pattern="https*://.*" required>
        <div class="invalid-feedback text-end">必填，需為http/https</div>
      </div>
      <div class="input-group">
        <label class="me-2" for="image"><span class="text-danger">*</span> 圖片 :</label>
        <input id="image" type="text" class="form-control" name="image" {{#if options.image}}value="{{ options.image }}" {{else}}value="https://raw.githubusercontent.com/Playpaper/restaurant-list-crud/main/public/images/notFound.png" {{/if}} pattern="https*://.*" size="30" required>
        <div class="invalid-feedback text-end">必填，需為http/https</div>
      </div>
      <div class="input-group">
        <label class="me-2" for="description"><span class="text-danger">*</span> 敘述 :</label>
        <textarea id="description" class="form-control" name="description" value="{{ options.description }}" maxlength="150" rows="3" required>{{ restaurant.description }}</textarea>
        <div class="invalid-feedback text-end">必填，字數需在150字以內</div>
      </div>
    </div>
    <div class="btn-panel mt-3">
      <a href="javascript:history.back()" class="btn btn-warning btn-m">Back</a>
      <button id="btn-submit" type="submit" class="btn btn-dark btn-m">Create</button>
    </div>
  </form>
</div>
<script src="/javascripts/formcheck.js"></script>
